@using MyApp.Models
@model List<PlacesModel>
@{
    ViewBag.Title = "Dashboard";
}
<h2 class="text-4xl text-white py-2 underline text-center">Dashboard</h2>

<div class="max-w-7xl mx-auto">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn inline-flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-600">
            Sort &nbsp; <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </button>
        <div id="myDropdown" class="dropdown-content">
            <a href="@Url.Action("getTheSort","Travel",new {id = 1})">Sort by name</a>
            <a href="@Url.Action("getTheSort","Travel",new {id = 2 })">Sort by name desc</a>
            <a href="@Url.Action("getTheSort","Travel",new {id = 3 })">Sort by id </a>
            <a href="@Url.Action("getTheSort","Travel",new {id = 4 })">Sort by id desc</a>

        </div>
    </div>
    
        
</div>
<br />

<div class="max-w-7xl mx-auto">
    <table class="min-w-full table-auto text-gray-900">
        <thead class="justify-between text-left">
            <tr class="bg-black">
                <th class="px-16 py-2">
                    <span class="text-gray-300">Id</span>
                </th>
                <th class="px-16 py-2">
                    <span class="text-gray-300">Name</span>
                </th>
                <th class="px-16 py-2">
                    <span class="text-gray-300">Prime Location</span>
                </th>

                <th class="px-16 text-gray-300 py-2">
                    Delete

                </th>
                <th class="px-16 text-gray-300 py-2">
                    Update

                </th>

            </tr>
        </thead>
        <tbody class="bg-gray-500">
            @foreach (var item in Model)
            {
                <tr class="text-white bg-gray-800 border-b-2 border-green-300">
                    <td class="px-16 py-2">
                        @item.id
                    </td>
                    <td>
                        @item.name
                    </td>
                    <td class="px-16 py-2">
                        @item.isPrime
                    </td>


                    <td class="px-16 py-2">
                        <a class="text-red-600 underline" href="@Url.Action("DeleteThePlace","Travel",new {id = @item.id })">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </a>
                    </td>
                    <td class="px-16 py-2">
                        <a class="text-purple-600 underline" href="@Url.Action("getTheUpdatePage","Travel",new {id = @item.id })">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a href="/Travel/getInsert" class="cent text-center mx-auto justify-center inline-flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-600">
        insert
    </a>
</div>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>


